{% extends 'base.html'%}
{% load static %}

{% block style%}
  <link rel="stylesheet" href="{% static 'css/login.css'%}">
{% endblock %}


{%block content%}
<h2 class="lu">LOGIN PAGE</h2>
{% if er%}
<div class="kl">
    <div class="alert alert-primary fl" role="alert">
     {{er}}
    </div>
</div>
 

{% endif %}

<div class="f">
    
    <form action="/login/" class="fm" method="POST">
    {% csrf_token %}
        <input class="k" type="text" name="uname"  placeholder="username" id="">
        <input class="k" type="password" name="psw1" placeholder="password" id="">
        <button type="submit" class="btn btn-primary">Log in</button>
    </form>
    <form action="/register/" class="l">
        <p>Doesn't have an account?</p>
        <button class="btn btn-info">Register</button>
    </form>
</div>


{%endblock%}