{% extends 'base.html'%}
{%block content%}

{% load static %}

{% block style%}
  <link rel="stylesheet" href="{% static 'css/register.css'%}">
{% endblock %}



<div class="reg-wrapper">
<h3 class="j">REGISTER  PAGE</h3>



<form class="fm"  action="/registerapplicant/" method="POST">
  {% csrf_token %}
  <div class="row">
  {% for i in u %}
    {% if i.name == 'email'%}
     <div class="col-md-12">
        {{i.label_tag}}
        {{i}}

     </div>
     {% elif i.name == 'first_name' or i.name == 'last_name' or i.name == 'username'%}
       <div class="col-md-6">
        {{i.label_tag}}
        {{i}}
       </div>
       
    {% endif %}
  {% endfor %}
  {% for i in p%}
  {% if i.name == 'gender' or i.name == 'company_name'%}
  <div class="col-md-12">
    {{i.label_tag}}
    {{i}}
  </div>
 {% else %}
  <div class="col-md-6">
    {{i.label_tag}}
    {{i}}
  </div>
  {% endif %}
  
  {% endfor %}

  {% for i in u%}
  {%  if i.name == 'password' or i.name == 'confirm_password'%}
  <div class="col-md-6">
    {{i.label_tag}}
    {{i}}
  </div>
  {% endif %}
  {% endfor %}

</div>
  <input class="form-control btn-primary hh"  type="submit" value="Register" >
  <hr>
  <div class="pa">
      <p>Register as an interviewer?</p>
      <a href="/registerinterviewer/">Register</a>
  </div>
  
  <div class="pa">
     <p>Already have an account?</p>
     <a href="/login/">Login</a>
  </div>
</form>



</div>
{%endblock%}

