{% extends 'base.html'%}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/resumes.css'%}">
{% endblock %}

{% block content %}
{% if k %}
    {{k}}
{% endif %}

<div class="jo">
    <div class="templates">
    
    <div class="wrap1">
        <button class="jk">Graphics</button>
        <div class="template123">
            <iframe src="{% url 'preview1' %}" class="template-frame" frameborder="0"></iframe>
            
        </div>
        <a href="/add/professional1"  class="btn btn-primary lo"> Select</a>
        
    </div>
    
    
    <div class="wrap2">
         <button class="jk">Social</button>
        <div class="template123">
            <iframe src="{% url 'preview2' %}" class="template-frame" frameborder="0"></iframe>
        </div>
        <a href="/add/professional2"  class="btn btn-primary lo"> Select</a>


    </div>

   <div class="wrap2">
    <button class="jk">General ATS</button>
        
     <div class="template123">
        <iframe src="{% url 'preview3' %}" class="template-frame" frameborder="0"></iframe>
    </div>
    <a href="/add/professional3"  class="btn btn-primary lo"> Select</a>
   </div>
</div>
</div>

{% endblock %}