{% extends 'base.html'%}
{% load static %}
{% block style  %}
<link rel="stylesheet" href="{% static 'css/resume_base.css'%}">
{% endblock %}


{% block content %}
<div class="kol">
<div class="card text-center kl">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'profile' %}active {% endif %} " aria-current="page" href="/add/">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'experiance' %}active {% endif %} " aria-current="page" href="/experiance/">Experiance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'education' %}active {% endif %} " aria-current="page" href="/education/">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'skills' %}active {% endif %} " aria-current="page" href="/skills/">Skills</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'interest' %}active {% endif %} " aria-current="page" href="/interest/">Interests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'photo' %}active {% endif %} " aria-current="page" href="/photo/">Photo</a>
      </li>
    </ul>
    
  </div>
  <div class="card-body">
    
    {% block resume_content %}
    {% endblock %}
  </div>
</div>
</div>

{% endblock%}


